.max-w-\[5rem\] {
    max-width: 5rem;
}

body * {  
  text-align: justify;  
  justify-content: center;  
}

/* This section for headers allow you to change how they are aligned. If you only want this to change H1 headers for example, then just remove all the other headers from below: */  
h1,h3, h4, h5, h6 {  
text-align: center;  
}

.max-w-prose {  
  max-width: 1025px;  
#  max-width: 100%; /* You can use this in place of the max width pixels option above. Either of them works fine, though I prefer to use the px option. */  
  justify-content: center;  
  margin-left: auto;  
  margin-right: auto;  
}

.center {
  text-align: center;
}


@font-face {
    font-family: font;
    src: url('/fonts/FiraCode-Bold.ttf');
}

html {
    font-family: font;
    font-size: 12pt;
}

img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}
